{% extends 'base.html' %}

{% block title %}My Dashboard{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="card border-0 shadow-sm p-4">

        <h2 class="fw-bold">
            Welcome, {{ customer.name }}
        </h2>

        <p class="text-muted">
            Email: {{ customer.email }}
        </p>

        <p class="text-muted">
            Mobile: {{ customer.mobile }}
        </p>

        <a href="{% url 'user_logout' %}"
           class="btn btn-danger">
            Logout
        </a>

    </div>

</div>

{% endblock %}